{% extends 'header.html' %}


{% block add_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}


{% block content %}
{% load static %}

<div class="col3">
                <div class="card55">
                    <h1 class="bbb ">Пароль успешно изменен!</h1>
                    <div class="card-bod">

                            <p class="im">
                                <a href="{% url 'shop' %}"><button class="inp" type="submit">Магазин</button></a></p>
                            <p class="im">
                                <a href="{% url 'users:profile' %}"><button class="inp" type="submit">Профиль</button></a></p>


                        </form>
                    </div>
                </div>
                </div>

{% endblock %}