{% extends 'header.html' %}


{% block add_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}


{% block content %}
{% load static %}




<div class="container">
    <div class="main">
        <div class="row">
            <div class="col">
                <div class="ca ">
                    <div class="car-body">
                        <div class="img">
                        <img src="{% static 'shop/images/catalog/cute-sad-frog.jpeg' %}" class="imgs" width="150">
                        </div>
                        <div class="menu">
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                            {% for m in menu %}
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>


            <div class="col2">
                <div class="card55">
                    <h1 class="bbb ">Изменить основную информацию</h1>
                    <div class="card-bod">
                        <form action="" method="post" enctype="multipart/form-data" class="contact-left">
                        {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}


                        <div class="row">
                            <div class="nam">
                                <label for="{{ f.id_for_label }}">
                                <h5>{{ f.label }}</h5></label>
                            </div>
                            <div class="nam1">
                                {{ f }}

                            </div>
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                        {% if not forloop.last %} <hr> {% endif %}

                        {% endfor %}
                            <p class="im"><button class="inp" type="submit">Обновить</button> </p>
                        </form>


                            <div class="card55">
                                <h1 class="bbb ">Изменение пароля</h1>

                            <div class="nam5">
                                    <a class="psw" href="{% url 'users:password_change' %}">Изменить пароль</a>
                            </div>
                                </div>
                                </div>




                    </div>
                </div>

                
        </div>
    </div>

</div>
</div>

{% endblock %}
